body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }


body { background: #fff; }

/* optional Container STYLES */
.chart { height: 90%; width: 100%; margin: 5px; margin: 5px auto; border: 3px solid #DDD; border-radius: 3px; }
.node { color: #9CB5ED; border: 2px solid #C8C8C8; border-radius: 3px; }
.node p { font-size: 20px; line-height: 20px; height: 20px; font-weight: bold; padding: 3px; margin: 0; }

#error_msg{
	margin-top: 1em;
	-webkit-box-shadow: 15px 7px 18px 0px rgba(255, 46, 50, 0.68);
	-moz-box-shadow:    15px 7px 18px 0px rgba(255, 46, 50, 0.68);
	box-shadow:         15px 7px 18px 0px rgba(255, 46, 50, 0.68);
	font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.example-querys li{
	 color: #0f91f0;
	 list-style-type: none;
}

.example-querys ~ ul li{ 
	color: #f56568; 
}

.example-querys li:hover{
	 text-decoration: underline;
	 cursor:pointer
}

.query-type:first-child {	
	margin-top:0px;
}

.query-type {
	font-size:1.2em;
	padding-left: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}
